.gallery{
    margin: 3rem 0 0 0;
    overflow: hidden;
    background-image: linear-gradient(to bottom,#2D2000,#503902);

    &__heading{
        font-size: 3.2rem;
        text-align: center;
        padding: 3rem 0;
        text-transform: uppercase;
        background: linear-gradient(to right,$color-brown, $color-wood);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        text-shadow: 0 5rem 10rem rgba(0,0,0,0.4);
    }
    &__box{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(2,20vw);
        grid-gap: 1.5rem;
        padding: 1rem;
        margin-bottom: 3rem;
        
        &--1{
            position: relative;
            &-text{
                position: absolute;
                bottom:1rem;
                left: 1rem;
                display: block;
                background-color: rgba(0,0,0,0.8);
                // height: 4rem;
                width: 20rem;
                padding: 1rem 1rem;
                font-size: 2rem;
                color: white;
               
            }
        }
        &--2{
            position: relative;
            &-text{
                position: absolute;
                bottom:1rem;
                left: 1rem;
                display: block;
                background-color: rgba(0,0,0,0.8);
                // height: 4rem;
                width: 18rem;
                padding: 1rem 1rem;
                font-size: 2rem;
                color: white;
            }
        }
        &--3{
            position: relative;
            &-text{
                position: absolute;
                bottom:1rem;
                left: 1rem;
                display: block;
                background-color: rgba(0,0,0,0.8);
                // height: 4rem;
                width: 25rem;
                padding: 1rem 1rem;
                font-size: 2rem;
                color: white;
            }
        }
        &--4{
            position: relative;
            &-text{
                position: absolute;
                bottom:1rem;
                left: 1rem;
                display: block;
                background-color: rgba(0,0,0,0.8);
                // height: 4rem;
                width: 28rem;
                padding: 1rem 1rem;
                font-size: 2rem;
                color: white;
            }
        }
        &--5{
            position: relative;
            &-text{
                position: absolute;
                bottom:1rem;
                left: 1rem;
                display: block;
                background-color: rgba(0,0,0,0.8);
                // height: 4rem;
                width: 28rem;
                padding: 1rem 1rem;
                font-size: 2rem;
                color: white;
            }
        }
        &--6{
            position: relative;
            &-text{
                position: absolute;
                bottom:1rem;
                left: 1rem;
                display: block;
                background-color: rgba(0,0,0,0.8);
                // height: 4rem;
                width: 28rem;
                padding: 1rem 1rem;
                font-size: 2rem;
                color: white;
            }
        }
    }

  

    &__img{
        display: block;
       width: 100%;
       height: 100%;
       object-fit: cover;
    }
}