.main{
    margin: 0rem 0 0 0;
    width: 100%;
    background-image: linear-gradient(to bottom,#eee,#fff);

    &__container{
        padding: 4rem;
        @media only screen and (max-width:1200px){
            padding: 2rem;
        }
        @media only screen and (max-width:1120px){
            padding: 1.5rem;
        }
    }

    &__heading{
        font-size: 3.2rem;
        text-align: center;
        padding: 3rem 0;
        text-transform: uppercase;
        background: linear-gradient(to right,$color-brown, $color-wood);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        
    }
   

    &__services{
       display: flex;
       justify-content: space-around;
       margin-bottom: 2rem;

        &--heading{
            font-size: 2.2rem;
            margin-bottom: 1.5rem;
            // color: $color-brown;
            font-weight: bold;
            background: linear-gradient(to right bottom,$color-brown, $color-wood);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
        &--text{
            font-size: 1.8rem;
            font-weight: 400;
            line-height: 120%;
            color: $color-grey;
        }
    }
    &__img{
        margin-bottom: 1rem;
    }
    &__features{
        // background-color: red;
        width: 30rem;
        text-align: center;
    }
}