.main{
    margin: 5rem  0;
    width: 100%;

    &__heading{
        font-size: 3.2rem;
        text-align: center;
        padding: 3rem 0;
        text-transform: uppercase;
        background: linear-gradient(to right,$color-brown, $color-wood);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    &__services{
       display: flex;
       justify-content: space-around;

        &--heading{
            font-size: 2.2rem;
            margin-bottom: 1.5rem;
            // color: $color-brown;
            font-weight: bold;
            background: linear-gradient(to right bottom,$color-brown, $color-wood);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
        &--text{
            font-size: 1.8rem;
            font-weight: 400;
            line-height: 120%;
            color: $color-dark-grey;
        }
    }
    &__img{
        margin-bottom: 1rem;
    }
    &__features{
        // background-color: red;
        width: 30rem;
        text-align: center;
    }
}