*{
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

body{
    font-family: inherit;
}

@import "variables";
@import "header";
